@import url(font-awesome.min.css);
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,400,400i");

body {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    font-family: "Source Sans Pro";
    vertical-align: baseline;

}

.CAH-loading-page {
    padding-top: 50px;
    text-align: center;
}

p {
    margin-right: 100px;
    margin-left: 100px;
}
